{% block card %}
<div id="card">
    <div class="graphic">
        <img src="/images/Razer.jpg" alt="image">
    </div>
    <div class="info">
        <h1>Product Name</h1>
        <div class="rating">
            <div class="row">
                <div style="width: {{ 4 * 100 / 5 }}%">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
