@use "theme";

$fontfamily-Juilius: 'Julius Sans One', sans-serif;
$fontfamly-Josefin: 'Josefin Sans', sans-serif;

$navButtonPadding: 8px 16px;

@mixin button_outline(){
  display: block;
  border: 1px solid theme.$highlightColor !important;
  padding: $navButtonPadding;

  &:hover {
    background-color: theme.$highlightColor !important;
    color: theme.$primaryColor !important;
  }
}

@mixin button_filled(){
  display: block;
  border: 1px solid theme.$highlightColor !important;
  background-color: theme.$highlightColor !important;
  color: theme.$primaryColor !important;
  padding: $navButtonPadding;
  &:hover{
    background-color: theme.$primaryColor !important;
    color: theme.$highlightColor !important;
  }
}


.navigation_bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  margin: 0;
  padding: 0;

  nav{
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid theme.$thirdColor;
  }

  nav.upperNav {
    .Logo {
      font-family: $fontfamily-Juilius;
      text-decoration: none;
    }

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      input[type="search"] {
        width: 500px;
        min-width: 100px;
        padding: 5px;
        border-radius: 0;
        border: 1px solid theme.$highlightColor;
        @include button_outline;
        &:focus{
          outline: none;
        }
      }

      button[type="submit"]{
        @include button_filled;
      }
    }

    .List {
      padding: 0;
      margin: 0;

      ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        //gap: 20px;

        li {
          list-style-type: none;
          //padding: 0.5rem 1.5rem;


          a {
            margin: 0;
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            padding: $navButtonPadding;
            font-family: $fontfamily-Juilius;
          }
        }
      }
    }
  }

  nav.lowerNav{
    ul{
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      li{
        list-style-type: none;

        a{
          text-decoration: none;
          color: theme.$text-color;
          font-family: $fontfamly-Josefin;
          padding: $navButtonPadding;
          border: 1px solid transparent;

          &:hover{
            border: 1px solid theme.$text-color;
          }
        }
      }

      li.user{
        text-transform: capitalize;
      }
    }
  }
}

.btn_outline {
  @include button_outline;
}

.btn_filled {
  @include button_filled;
}


#card{
  width: 300px;
  border: 1px solid theme.$highlightColor;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .graphic{
    width: 100%;
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .info{
    width: 100%;
    padding: 10px;

    h1{
      padding: 0;
    }

  }
}

.rating{
  width: fit-content;
  width: -moz-fit-content;

  .row{
    background-color: gray;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    width: -moz-fit-content;
    div{
      padding: 0;
      overflow: visible;
      background-color: orange;
      display: flex;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

#sidebar{
height: 100%;
  width:300px;
  //position:fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;

   .sidebar a,.dropdown-btn{
     padding: 6px 8px 6px 16px;
     font-size:20px;
     color:dimgrey;
     display: block;
     border:none;
     background:none;
     width:100%;
     text-align:left;
     outline:none ;

     &:hover{
       color:darkslategray;
     }

     &:active {
       background-color: green;
       color: white;
     }
     .dropdowncontainer{
       display: none;
       background-color: pink;
       padding-left:10px;
       }
     .fa-caret-down{
       float:right;
       padding-right: 8px;
     }


   }

}
